<div class="textcenter">Staff Links:< 
<%= link_to 'Repairs', repairs_path %> | 
<%= link_to 'Customers', customers_path %> | 
<%= link_to "Parts", parts_path %> | 
<%= link_to "Employees", staffs_path %> | 
<%= link_to "Admin", admin_path %> | 
<%=  link_to "Jobs", jobs_path %> >
</div>
<br />
<h2>Edit Employee Details</h2>

<%= render 'form', staff: @staff %>

<br />
< <%= link_to 'Show Details', @staff %> |
<%= link_to 'Employee List', staffs_path %> >
