<div class="textcenter">Staff Links:< 
<%= link_to 'Repairs', repairs_path %> | 
<%= link_to 'Customers', customers_path %> | 
<%= link_to "Parts", parts_path %> | 
<%= link_to "Employees", staffs_path %> | 
<%= link_to "Admin", admin_path %> | 
<%=  link_to "Jobs", jobs_path %> >
</div>
<br />
<h2>Employee Details</h2>
<p>
  <strong>Name:</strong>
  <%= @staff.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @staff.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @staff.phone %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= @staff.dob.strftime("%d-%m-%Y") %>
</p>

<p>
  <strong>Age Now:</strong>
  <%= (Time.now.to_date - @staff.dob).div 365 %> Years 
</p>

<p>
  <strong>PPS No.:</strong>
  <%= @staff.ppsn %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @staff.startdate.strftime("%d-%m-%Y") %>
</p>

<p>
  <strong>Position:</strong>
  <%= @staff.position %>
</p>

<p>
  <strong>Salary:</strong>
  <%= euro (@staff.salary) %>
</p>
<br />

< <%= link_to 'Edit Details', edit_staff_path(@staff) %> |
<%= link_to 'Employee List', staffs_path %> >
