<div class="container">
<br />
<br />
<h2>Log In</h2>
<div class="center">
<%= form_tag do %>
	<table>
		<tr>
			<td><%= label_tag :email %></td>
			<td><%= text_field_tag :email %></td>
		</tr>
		<tr>
			<td><%= label_tag :password %></td>
			<td><%= password_field_tag :password %></td>
		</tr>
		<tr>
			<td><%= submit_tag "Log in" %></td>
		</tr>
	</table>
<% end %>
</div>
<br /><br /><br />
</div>