<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @part.description %>
</p>

<p>
  <strong>Unit price: €</strong>
  <%= @part.unit_price %>
</p>

<p>
  <strong>Fitting Time (hrs.):</strong>
  <%= @part.wstime %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@part.image) %>
</p>

<br />
< <%= link_to 'Edit Part Details', edit_part_path(@part) %> |
<%= link_to 'Back to Parts List', parts_path %> | 
<%= link_to 'Add New Part', new_part_path %> >
