<div class="textcenter">Staff Links:< 
<%= link_to 'Repairs', repairs_path %> | 
<%= link_to 'Customers', customers_path %> | 
<%= link_to "Parts", parts_path %> | 
<%= link_to "Employees", staffs_path %> | 
<%= link_to "Admin", admin_path %> | 
<%=  link_to "Jobs", jobs_path %> >
</div>
<br />
<h2>Edit Status</h2>

<%= render 'form', job: @job %>

<br />
< <%= link_to 'Show Status', @job %> |
<%= link_to 'Back to Status List', jobs_path %> >