<div class="textcenter">Staff Links:< 
<%= link_to 'Repairs', repairs_path %> | 
<%= link_to 'Customers', customers_path %> | 
<%= link_to "Parts", parts_path %> | 
<%= link_to "Employees", staffs_path %> | 
<%= link_to "Admin", admin_path %> | 
<%=  link_to "Jobs", jobs_path %> >
</div>
<h3>Repair Status : <%= @job.status %> | <%= @job.notes %></h3>
<br />

<h4>Repairs in this List:</h4><br />
<ol>
	<% @job.repairs.each do |repair| %>
		<li>
			<%= repair.repair_detail %>, 
			Required for: <%= repair.required_date.strftime("%d-%m-%Y") %>, 
			Customer: <%= repair.customer.name %>, 
			Total Price: <%= euro (repair.total_cost) %> 
		</li>
	<% end %>
</ol>
<br />
<br />

< <%= link_to 'Edit Status', edit_job_path(@job) %> |
<%= link_to 'Back to Status List', jobs_path %> >
