<p id="notice"><%= notice %></p>

<h3>Repair Status : <%= @job.status %> | <%= @job.notes %></h3>
<br />

<h4>Repairs in this List:</h4><br />
<ol>
	<% @job.repairs.each do |repair| %>
		<li>
			Job: <%= repair.repair_detail %>, 
			Required for: <%= repair.required_date %>, 
			Customer: <%= repair.customer.name %>, 
			Total Price: €<%= repair.total_cost %> 
		</li>
	<% end %>
</ol>
<br />
<br />

< <%= link_to 'Edit Status', edit_job_path(@job) %> |
<%= link_to 'Back to Status List', jobs_path %> >
