<div class="container"><div class="content">
<%= form_with(model: partsrequired, local: true) do |form| %>
  <% if partsrequired.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(partsrequired.errors.count, "error") %> prohibited this partsrequired from being saved:</h2>

      <ul>
      <% partsrequired.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, id: :partsrequired_quantity %>
  </div>

  <div class="field">
    <%= form.label :part_id %>
    <%= form.number_field :part_id, id: :partsrequired_part_id %>
  </div>

  <div class="field">
    <%= form.label :repair_id %>
    <%= form.number_field :repair_id, id: :partsrequired_repair_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

</div></div>
