<p id="notice"><%= notice %></p>

<h2>Parts Required</h2>

<table>
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Part</th>
      <th>Repair</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @partsrequireds.each do |partsrequired| %>
      <tr>
        <td><%= partsrequired.quantity %></td>
        <td><%= partsrequired.part_id %></td>
        <td><%= partsrequired.repair_id %></td>
        <td><%= link_to 'Show', partsrequired %></td>
        <td><%= link_to 'Edit', edit_partsrequired_path(partsrequired) %></td>
        <td><%= link_to 'Destroy', partsrequired, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Partsrequired', new_partsrequired_path %>
<hr />Links: 
<%= link_to 'Repairs', repairs_path %> | 
<%= link_to 'Parts', parts_path %> | 
<%= link_to 'Customers', customers_path %> | 
<%= link_to 'Discounts', discounts_path %>