<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @partsrequired.quantity %>
</p>

<p>
  <strong>Part:</strong>
  <%= @partsrequired.part_id %>
</p>

<p>
  <strong>Repair:</strong>
  <%= @partsrequired.repair_id %>
</p>

<%= link_to 'Edit', edit_partsrequired_path(@partsrequired) %> |
<%= link_to 'Back', partsrequireds_path %>
