<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Regular:</strong>
  <%= @customer.regular %>
</p>

<p>
  <strong>Required date:</strong>
  <%= @customer.required_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @customer.description %>
</p>

<p>
  <strong>Repair type:</strong>
  <%= @customer.repair_type %>
</p>

<p>
  <strong>Repair detail:</strong>
  <%= @customer.repair_detail %>
</p>

<p>
  <strong>Repair photo:</strong>
  <%= image_tag(@customer.repair_photo) %>
</p>

< <%= link_to 'Edit Details', edit_customer_path(@customer) %> >
</div>