<p id="notice"><%= notice %></p>
<h3>Bicycles for this customer:</h3>
<ol>
	<% @customer.repairs.each do |repair| %>
		<li>
			<%= repair.repair_detail %>, 
			Required for: <%= repair.date_out %>,
			Price quoted: €<%= repair.cost_quote %>,
		</li>
	<% end %>
</ol>
<br />
<h4>Customer Details:</h4>
<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>
<p>
  <strong>Address:</strong>
  <%= @customer.address %>
  </p>
<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
  </p>
<p>
  <strong>Email:</strong>
  <%= @customer.email %>
  </p>
<p>
  <strong>Regular Customer:</strong>
  <%= @customer.regular %>
</p>
<br />

< <%= link_to 'Edit Details', edit_customer_path(@customer) %> >
