<br />
<h2>Customer Details</h2>
<br />
<p>
   <h3><small>Name:</small> 
   <%= @customer.name %></h3>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Regular:</strong>
  <%= @customer.regular %>
</p>
<br />
< <%= link_to 'Edit Profile', edit_customer_path(@customer) %> | 
< <%= link_to 'Enter New Repair', new_repair_path %> >
