<%= form_with(model: bicycle, local: true) do |form| %>
  <% if bicycle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bicycle.errors.count, "error") %> prohibited this bicycle from being saved:</h2>

      <ul>
      <% bicycle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :make %>
    <%= form.text_field :make, id: :bicycle_make %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.select :model, ['City Bike', 'Racer', 'BMX', 'MTB', 'Kids', 'Electric']%>
	
  </div>

  <div class="field">
    <%= form.label :colour %>
    <%= form.text_field :colour, id: :bicycle_colour %>
  </div>

  <div class="field">
    <%= form.label :frame_size %>
    <%= form.select :frame_size, ['---', '12', '17', '19', '21', '23']%>
  </div>

  <div class="field">
    <%= form.label :wheel_size %>
    <%= form.select :wheel_size, ['---', '12', '16', '20', '24', '26', '27']%>
  </div>

  <div class="field">
    <%= form.label :extras %>
    <%= form.text_field :extras, id: :bicycle_extras %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :bicycle_image %>
  </div>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.collection_select :customer_id, Customer.all, :id, :name, :include_blank => "Select from list" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
