<p id="notice"><%= notice %></p>

<h1>Customers Bicycles</h1>

<table>
  <thead>
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Colour</th>
      <th>Frame size</th>
      <th>Wheel size</th>
      <th>Extras</th>
      <th>Image</th>
      <th>Cust_name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bicycles.each do |bicycle| %>
      <tr>
        <td><%= bicycle.make %></td>
        <td><%= bicycle.model %></td>
        <td><%= bicycle.colour %></td>
        <td><%= bicycle.frame_size %></td>
        <td><%= bicycle.wheel_size %></td>
        <td><%= bicycle.extras %></td>
        <td><%= image_tag bicycle.image, :size => "70x45" %></td>
        <td><%= bicycle.customer.name %></td>
        <td><%= link_to 'Show', bicycle %></td>
        <td><%= link_to 'Edit', edit_bicycle_path(bicycle) %></td>
        <td><%= link_to 'Destroy', bicycle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Bicycle', new_bicycle_path %> | 
<%= link_to 'Add New Customer', new_customer_path %><div align="right"><%= will_paginate @bicycles %></div>
<hr />Links: < 
<%= link_to 'Repairs', repairs_path %> | 
<%= link_to 'Parts', parts_path %> | 
<%= link_to 'Customers', customers_path %> | 
<%= link_to 'Customer Bicycles', bicycles_path %> |
<%= link_to 'Discounts', discounts_path %> >