<h1>Add Bicycle</h1>

<%= render 'form', bicycle: @bicycle %>

<br />
<%= link_to 'Back to Bicycle List', bicycles_path %> | 
<%= link_to 'Add New Customer', new_customer_path %> | 
<hr />Links: < 
<%= link_to 'Repairs', repairs_path %> | 
<%= link_to 'Parts', parts_path %> | 
<%= link_to 'Customers', customers_path %> | 
<%= link_to 'Customer Bicycles', bicycles_path %> |
<%= link_to 'Discounts', discounts_path %> >