<div class="container"><div class="content">
<p id="notice"><%= notice %></p>

<p>
  <strong>Make:</strong>
  <%= @bicycle.make %>
</p>

<p>
  <strong>Type:</strong>
  <%= @bicycle.model %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @bicycle.colour %>
</p>

<p>
  <strong>Frame size:</strong>
  <%= @bicycle.frame_size %>
</p>

<p>
  <strong>Wheel size:</strong>
  <%= @bicycle.wheel_size %>
</p>

<p>
  <strong>Extras:</strong>
  <%= @bicycle.extras %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@bicycle.image) %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @bicycle.customer.name %>
</p>
< <%= link_to 'Edit Bicycle Details', edit_bicycle_path(@bicycle) %> |
<%= link_to 'Back to Bicycle List', bicycles_path %>
<%= link_to 'Add New Customer', new_customer_path %> | 
<%= link_to 'Add Bicycle', new_bicycle_path %> >
</div></div>
