<div class="textcenter">Staff Links:< 
<%= link_to 'Repairs', repairs_path %> | 
<%= link_to 'Customers', customers_path %> | 
<%= link_to "Parts", parts_path %> | 
<%= link_to "Employees", staffs_path %> | 
<%= link_to "Admin", admin_path %> | 
<%=  link_to "Jobs", jobs_path %> >
</div>
<h2>Admin Page</h2>

<br />
<p>This page is under construction</p>
<br />

<p>Here's a mock-up of some ideas</p>
<br />


<h3>Repairs Status</h3>
<h4>Waiting in queue | Work not started</h4>
<ol>
<li>Job: Fit wheel, Required for: 2018-02-25, Customer: Anita O'Brien, Total Price: €</li>
<li>Job: Fit chain, Required for: 2018-02-13, Customer: Joe Bloggs, Total Price: €</li>
<li>Job: Puncture, Required for: 2018-02-20, Customer: Peter P, Total Price: €</li>
<li>Job: Fix Buckle, Required for: 2018-02-27, Customer: Peter Jones, Total Price: €</li>
<li>here.....</li>
<li>and here..</li>
</ol>
<br />

<h4>Work in Progress | In workshop now</h4>
<ol>
<li>Job: Puncture, Required for: 2018-02-16, Customer: Frank Murphy, Total Price: €</li>
<li>Job: Fit 2 tyres, Required for: 2018-02-25, Customer: Mary Walsh, Total Price: €</li>
<li>here.....</li>
<li>and here..</li>
</ol>

<br />
<p>Ruby on Rails Exercise - Student: Peter Purfield, C15723545</p>
<br />