<h1>Add New Discount</h1>

<%= render 'form', discount: @discount %>

<br>
<%= link_to 'Back to Discount LIst', discounts_path %>
<hr />Links: < 
<%= link_to 'Repairs', repairs_path %> | 
<%= link_to 'Parts', parts_path %> | 
<%= link_to 'Customers', customers_path %> | 
<%= link_to 'Customer Bicycles', bicycles_path %> |
<%= link_to 'Discounts', discounts_path %> >