<p id="notice"><%= notice %></p>
<h2>Repair Information</h2>
<p>
  <strong>Date Collected:</strong>
  <%= @repair.date_out %>
</p>

<p>
  <strong>Original quote:</strong>
  <%= @repair.cost_quote %>
</p>

<p>
  <strong>Labour cost:</strong>
  <%= @repair.labour_cost %>
</p>

<p>
  <strong>Total cost:</strong>
  <%= @repair.total_cost %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @repair.customer.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @repair.job.status %>
</p>

<p>
  <strong>Required date:</strong>
  <%= @repair.required_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @repair.description %>
</p>

<p>
  <strong>Repair type:</strong>
  <%= @repair.repair_type %>
</p>

<p>
  <strong>Repair detail:</strong>
  <%= @repair.repair_detail %>
</p>

<p>
  <strong>Repair photo:</strong>
  <%= image_tag(@repair.repair_photo) %>
</p>

< <%= link_to 'Edit Details', edit_repair_path(@repair) %> >
