<p id="notice"><%= notice %></p>
<h3>Repair Detail</h3>
<p>
  <strong>Date Required:</strong>
  <%= @repair.date_out %>
</p>

<p>
  <strong>Cost quote:</strong>
  <%= @repair.cost_quote %>
</p>

<p>
  <strong>Labour cost:</strong>
  <%= @repair.labour_cost %>
</p>

<p>
  <strong>Total cost:</strong>
  <%= @repair.total_cost %>
</p>

<p>
  <strong>Repair detail:</strong>
  <%= @repair.repair_detail %>
</p>

<p>
  <strong>Customers name:</strong>
  <%= @repair.customer.name %>
</p>

<p>
  <strong>Discount applied:</strong>
  <%= @repair.discount.level %>
</p>

<br />
<%= link_to 'Edit Repair Detail', edit_repair_path(@repair) %> |
<%= link_to 'Back to Repair List', repairs_path %> | 
<%= link_to 'Add New Customer', new_customer_path %> | 
<%= link_to 'Add Bicycle', new_bicycle_path %>
<hr />Links: < 
<%= link_to 'Repairs', repairs_path %> | 
<%= link_to 'Parts', parts_path %> | 
<%= link_to 'Customers', customers_path %> | 
<%= link_to 'Customer Bicycles', bicycles_path %> |
<%= link_to 'Discounts', discounts_path %> >
