<div><hr />Navigation: < 
<%= link_to 'Repairs', repairs_path %> | 
<%= link_to 'Parts', parts_path %> | 
<%= link_to 'Customers', customers_path %> | 
<%= link_to 'Customer Bicycles', bicycles_path %> |
<%= link_to 'Job Status', jobs_path %> >
</div>